@import "normalize.css";
@import "skeleton.css";
@import "pyscript.css";

.flex  {
    display: flex;
    gap:10px;
}

.card {
    padding: 10px;
    border-radius: 7px;
    border: 1px solid lightgray;
}

.container {
    margin: 0 auto;
    width: 80%;
    padding: 15px 0;
}